version: 2.1

parameters:
  # This parameter is used to trigger the main workflow
  trigger:
    type: boolean
    default: true

  # A parameter per package
  multi1:
    type: boolean
    default: false
  multi2:
    type: boolean
    default: false
  common:
    type: boolean
    default: false

executors:
  node:
    docker:
      - image: circleci/node

jobs:
  trigger-workflows:
    executor: node
    steps:
      - checkout
      - run:
          name: Trigger workflows
          command: chmod +x .circleci/circle_trigger.sh && .circleci/circle_trigger.sh

  build:
    parameters:
      package_name:
        type: string

    executor: node
    working_directory: ~/project/<< parameters.package_name >>

    steps:
      - checkout:
          path: ~/project
      # This step is added only to show that we are in the package directory
      - run:
          name: Build
          command: |
            echo "Build << parameters.package_name >> ..."
            sbt compile
      - persist_to_workspace:
          root: ~/project
          paths:
            - ./<< parameters.package_name >>

  deploy:
    parameters:
      package_name:
        type: string

    executor: node
    working_directory: ~/project/packages/<< parameters.package_name >>

    steps:
      - attach_workspace:
          at: ~/project
      # This step is added to show that files are available from the build job.
      - deploy:
          name: Deploy
          command: echo "Deploying << parameters.package_name >> ..."

workflows:
  version: 2

  # The main workflow responsible for triggering all other workflows
  # in which changes are detected.
  ci:
    when: << pipeline.parameters.trigger >>
    jobs:
      - trigger-workflows


  # Workflows defined for each package.

  multi1:
    when: << pipeline.parameters.multi1 >>
    jobs:
      - build:
          name: multi1-build
          package_name: multi1
      - deploy:
          name: multi1-deploy
          package_name: multi1
          requires:
            - multi1-build

  multi2:
    when: << pipeline.parameters.multi2 >>
    jobs:
      - build:
          name: multi2-build
          package_name: multi2
      - deploy:
          name: multi2-deploy
          package_name: multi2
          requires:
            - multi2-build

  common:
    when: << pipeline.parameters.common >>
    jobs:
      - build:
          name: common-build
          package_name: common
      - build:
          name: multi1-build
          package_name: multi1
      - build:
          name: multi2-build
          package_name: multi2          
      - deploy:
          name: multi1-deploy
          package_name: multi1
          requires:
            - multi1-build
      - deploy:
          name: multi2-deploy
          package_name: multi2
          requires:
            - multi2-build            
